.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    width: 1128px;
}

.gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.gallery img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.sl-overlay {
    background: rgba(46, 47, 66, 0.8) !important;
}

